# big ass rclone
rclone-v*/
rclone-v*.*-osx-64.zip
rclone-v*

backend/.env
backend/venv/
backend/keys/

.env
frontend/.env


# Dependencies
node_modules/


# Ignore all JSON files in backend/data
backend/data/*.json

# Ignore lesson docs in the frontend
frontend/lesson_docs/*

# Ignore keys folder
backend/keys/*

pailin-abroad.git/

__pycache__/
*.pyc

.vercel/
