.method-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  padding: 10vh 0vw;
  font-family: "Poppins", sans-serif;
  color: #1E1E1E;
}

.method-card-left,
.method-card-right {
  background: white;
  border: 0.15rem solid #1E1E1E;
  border-radius: 1rem;
  border-radius: 2.25rem;
  box-shadow: .2rem .2rem 0px #1E1E1E;
  padding: 3rem 2.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e1e1e;
  width: 65%;
  display: flex;
  align-items: top;
  gap: 2vw;
  min-height: 10vh;
}

.method-card-left {
  flex-direction: row;
}

.method-card-right {
  flex-direction: row-reverse;
}

.method-card-header {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1E1E1E;
  line-height: 2rem;
}

.method-card-text {
  font-size: .95rem;
  color: #1e1e1e;
  line-height: 1.55rem;
}

.method-card-left .method-card-header {
  text-align: right;
  width: 72%;
}

.method-card-left .method-card-text {
  text-align: left;
}

.method-card-right .method-card-header {
  text-align: left;
  width: 200%;
}

.method-card-left .method-card-text {
  text-align: left;
}

.method-card-line {
  width: 0.2vw !important;
  background-color: #FD6969 !important;
  border: none;
  align-self: stretch;
  margin: -.2rem 0;
  /* flex-shrink: 0; */
}

.pailin-and-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.im-pailin-pic {
  width: 18vw;
  height: auto;
}
