.about-page-container {
  position: relative;
  min-height: 100vh;
  background-color: none;
  padding: 33vh 0 0 0;
  font-family: "Poppins", sans-serif;
  color: #1E1E1E;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: -18vh; /* Counteract the padding to prevent double spacing */
  /* gap: 10vh; */
}

/* header  */
.about-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 100%; /* Ensures it doesn't exceed the viewport width */
  max-width: 100vw; /* Prevents overflow */
  background: white;
  border-top: 0.15rem solid #1E1E1E;
  border-bottom: 0.15rem solid #1E1E1E;
  padding: 3rem;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
  height: 20vh;
  overflow-y: visible;
  margin: 0;
}

.about-page-header-text {
  font-size: 2.5rem;
  color: #1E1E1E;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: auto;
  white-space: nowrap; /* Prevents text from wrapping */
  margin: 0;
}

.about-page-header-subtitle {
  font-size: 1.5rem;
  color: #1E1E1E;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.about-header-image {
  height: 35vh;
  width: auto;
}


/* Section buttons  */
.section-btns-container {
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding: 6vh 0vw 0vh 0vw;
  max-width: 75vw;
  margin: 0 auto;
}

.section-btn {
  background: white;
  border: 0.15rem solid #1E1E1E;
  border-radius: 1rem;
  border-radius: 0.5rem;
  box-shadow: .2rem .2rem 0px #1E1E1E;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e1e1e;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  min-width: 21vw;
  flex: 1 1 auto; /* allow buttons to shrink/grow */
}

.section-btn.active {
  background: #91CAFF;
}

.section-btn:hover {
  background: #91CAFF;
}


/* method  */
.about-method-section {
  display: none;
}

.about-method-section.visible {
  display: block;
}

/* our team */

.team-section {
  display: none;
}

.team-section.visible {
  display: block;
}
