.characters-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 5vh;
}

.character-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 80%;
}

.character-card {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* align-items: center; */
  background: white;
  padding: 8vh 12rem 8vh 10rem;
  border-radius: 2vh;
  border: .1rem solid #1E1E1E;
  box-shadow: .2rem .2rem 0px #1E1E1E;
  position: relative;
  max-width: 50vw;
  width: 90%;
  left: 25%;
  /* margin-top: 10rem; */
}

.characters-title {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: left;
  color: #0f172a;
  margin: 0;
}

.character-description {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #1e1e1e;
  line-height: 1.6;
  text-align: left;
}

.character-thumbnails {
  display: flex;
  /* justify-content: center; */
  gap: 1dvh;
}

.thumbnail {
  /* width: 10rem;
  height: 10rem; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.thumbnail.selected {
  border-color: #42b4f3;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: .3dvh solid #1E1E1E;
  transition: border-color 0.3s; */
}
.character-image {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10dvh;
  z-index: 1;
  /* border: .1rem solid #1E1E1E;
  box-shadow: 5px 5px 0px #1E1E1E; */
}

.character-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
