
.cta {
  background: none;
  text-align: center;
  padding: 10vh 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.cta-title {
  color: #1e1e1e;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.cta-button {
  background-color: #FF4545;
  color: white;
  border: .3dvh solid #1E1E1E;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 4vh;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 20%;
  min-height: 4rem;
  white-space: nowrap;
}

.cta-button:hover {
  background-color: #ff4a4a;
  color: #fff;
}
