.faq-page-container {
  position: relative;
  min-height: 100vh;
  background-color: none;
  padding: 33vh 0 0 0;
  font-family: "Poppins", sans-serif;
  color: #1E1E1E;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: -18vh; /* Counteract the padding to prevent double spacing */
}

/* header  */
.faq-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 100%; /* Ensures it doesn't exceed the viewport width */
  max-width: 100vw; /* Prevents overflow */
  background: white;
  border-top: 0.15rem solid #1E1E1E;
  border-bottom: 0.15rem solid #1E1E1E;
  padding: 3rem;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
  height: 20vh;
  overflow-y: visible;
  margin: 0;
}

.faq-page-header-text {
  font-size: 5vh;
  color: #1E1E1E;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: auto;
  white-space: nowrap; /* Prevents text from wrapping */
  margin: 0;
}

.faq-page-header-subtitle {
  font-size: 1.75vh;
  color: #1E1E1E;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* Section buttons  */
.faq-section-btns-container {
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding: 8vh 0vw 0vh 0vw;
  width: 75vw;
  margin: 0 auto;
  flex-wrap: wrap; /* allow buttons to flow to multiple lines */
}

.faq-section-btn {
  background: white;
  border: 0.15rem solid #1E1E1E;
  border-radius: 1rem;
  border-radius: 0.5rem;
  box-shadow: .2rem .2rem 0px #1E1E1E;
  padding: 1rem 1.25rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
  color: #1e1e1e;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  flex: 1 1 auto; /* allow buttons to shrink/grow */
  min-width: 12vw; /* smaller min to allow more buttons in narrow containers */
  max-width: 22vw;
  text-align: center;
}

.faq-section-btn.active {
  background: #91CAFF;
}

.faq-section-btn:hover {
  background: #91CAFF;
}

/* Section content */
.faq-section-content {
  display: none;
  padding: 5vh 10vw;
}

.faq-section-content.visible {
  display: block;
}
