.footer {
  width: 100%;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  border-top: 1vh;
  border-color: #1e1e1e
}

/* Top portion (black) */
.footer-top {
  background-color: #ffffff;
  color: #1e1e1e;
  padding: 2rem 1rem;
  border-top: .15rem solid #1e1e1e; /* Adds top border */
  border-bottom: .15rem solid #1e1e1e; /* Adds bottom border */
}

/* Container to manage columns */
.footer-container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Each column */
.footer-column {
  flex: 1;
  /* 150px -> 9.375rem (150 / 16) */
  min-width: 9.375rem;
  margin: 1rem 0;
  text-align: left;
}

/* Titles */
.footer-title {
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* List styling */
.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.footer-column li:hover {
  text-decoration: underline;
}

/* Follow Us column */
.follow-us {
  text-align: left;
}

.footer-logo {
  /* 100px -> 6.25rem (100 / 16) */
  max-width: 6.25rem;
  margin: 1rem 0;
}

/* Social icons wrapper */
.social-icons {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-top: 1rem;
}

/* Adjust icon size as needed: 24px -> 1.5rem */
.social-icon-link img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 480px) {
  .social-icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.75rem 1.25rem;
    justify-content: flex-start;

  }
  .footer-top {
    border-top: .10rem solid #1e1e1e; /* Adds top border */
    border-bottom: .10rem solid #1e1e1e; /* Adds bottom border */
  }
}

/* Bottom bar (blue) */
.footer-bottom {
  background-color: #91caff;
  text-align: center;
  padding: .5rem;
  color: #1e1e1e; /* black text on the blue background */
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}
