.page-container {
  position: relative;
  min-height: 100vh;
  background-color: none;
  padding: 18vh 0 0 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", "Anuphan", sans-serif;
  color: #1E1E1E;
} 