.page-container {
  position: relative;
  min-height: 100vh;
  background-color: none;
  padding: 18vh 0 0 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #1E1E1E;
  gap: 8vh;
}

/* header  */
.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20vw;
  width: 100%; /* Ensures it doesn't exceed the viewport width */
  max-width: 100vw; /* Prevents overflow */
  background: white;
  border-top: 0.15rem solid #1E1E1E;
  border-bottom: 0.15rem solid #1E1E1E;
  padding: 3rem;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
  height: 30vh;
  overflow-y: visible;
}

.page-header-text {
  font-size: 7.8vh;
  color: #1E1E1E;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: auto;
  white-space: nowrap; /* Prevents text from wrapping */
}

.header-image {
  height: 50vh;
  width: auto;
}

/* subheader */
.subheader-container {
  /* padding: 0rem 22rem; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheader-text {
  font-size: 4dvh;
  font-weight: 600;
  text-align: center;
  width: 45%;
}



/* join cards */
.join-cards-container {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
  justify-content: center;
}

.join-card {
  background: white;
  border: 0.15rem solid #1E1E1E;
  border-radius: 1rem;
  border-radius: 3vh;
  box-shadow: .2rem .2rem 0px #1E1E1E;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: center;
}

.join-card-header {
  font-size: 3vh;
  font-weight: 600;
}

.join-card-price {
  font-size: 8vh;
  color: #91CAFF;
  font-weight: 700;
  -webkit-text-stroke: .1rem #1e1e1e;
}

.join-card-per-month {
  font-size: 2.3vh;
  font-weight: 600;
  margin-bottom: 2dvh;
}

.select-btn {
  padding: .3rem 1.3rem;
  border: .1rem solid #1E1E1E;
  border-radius: 2.6rem;
  width: 20dvh;
  font-size: 2.3vh;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  background-color: #FF4545;
  color: white;
}


/* guarantee */
.guarantee-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guarantee-subcontainer {
  /* position: relative; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}

.guarantee-header {
  position: relative;
  font-size: 6vh;
  color: #1E1E1E;
  font-weight: 600;
  /* display: inline-flex;
  flex-direction: column;
  align-items: flex-start; */
}

.guarantee-underline {
  display: block;
  position: absolute;
  width: 68%;
  /* align-self: flex-end; */
  /* margin-top: .1rem; */
  right: 0;
  transform: translateY(-70%);
}

.guarantee-text {
  font-size: 2.5vh;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1e1e1e;
  text-align: center;
}
