.method-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  height: auto;
  padding: 10vh 0vw;
}

.method-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 5vh 0rem 5vh 10rem;
  border-radius: 2vh;
  border: .1rem solid #1E1E1E;
  box-shadow: .2rem .2rem 0px #1E1E1E;
  position: relative;
  max-width: 66vw;
  width: 100%;
  right: 20%;
  /* margin-top: 10rem; */
}

.method-box {
  background: none;
  padding: 3rem;
  max-width: 50vw;
  border-radius: 1.5rem;
}

.method-title {
  font-size: 2.5rem;
  font-family: "Poppins", "Anuphan", sans-serif;
  font-weight: 600;
  text-align: right;
  color: #0f172a;
}

.method-text {
  font-size: 1.2rem;
  font-family: "Poppins", "Anuphan", sans-serif;
  color: #1e1e1e;
  line-height: 1.6;
  text-align: right;
}

.graphic-container {
  position: absolute;
  right: 10%;
}

.dialogue-bubbles {
  max-width: 50vw;
  height: auto;
  max-height: 50dvh;
}
