.placement-cta {
  background: none;
  text-align: center;
  padding: 8vh 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.placement-title {
  color: #1e1e1e;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  font-family: "Poppins", "Anuphan", sans-serif;
}

.placement-button {
  background-color: #F65555;
  color: white;
  border: .3dvh solid #1E1E1E;
  font-family: "Poppins", "Anuphan", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 1.7rem;
  border-radius: 8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: 45%;
  min-height: 5rem;
  white-space: nowrap;
}

.placement-button:hover {
  background-color: #ff4a4a;
  color: #fff;
}
