.reviews-section {
  padding: 8vh 2rem;
}

.reviews-container {
  background: none;
  padding: 6vh 0vw 10vh 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.reviews-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: #1e1e1e;
}

.review-cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  background: none;
}

.review-card {
  max-width: 18.75rem;
  text-align: left;
  background-color: white;
  border-radius: 2.25rem 2.25rem 2.25rem 0;
  border: .1rem solid #1E1E1E;
  box-shadow: .2rem .2rem 0px #1E1E1E;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.review-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #1E1E1E;
  line-height: 1.5;
  flex-grow: 1;
}

.photo-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.review-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
.name-location-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: .5vh;
}


.review-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #1E1E1E;
  margin: 0;
  line-height: 1;
}

.review-location {
  font-family: "Poppins", sans-serif;
  color: #1e1e1ea1;
  font-size: .8rem;
  margin: 0;
  line-height: 1;
}
