.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/*
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.submit-btn {
  background-color: #91CAFF;
  color: #1E1E1E;
  padding: 1rem;
  margin-top: 1.5rem;
  width: 100%;
  border: .15rem solid #1E1E1E;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-btn:hover {
  background-color: #1e8ef6;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  border-color: #999;
}

.success-message {
  padding: 20px;
  background-color: #e7f9e7;
  border: 1px solid #a2dba2;
  border-radius: 8px;
}

.error-message {
  color: red;
  font-size: 0.9em;
}
